<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo Form jQuery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--script src="meu_script.js"></script-->
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/registro.js') }}" ></script>	
</head>
  <body>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Login Usuário</h1>

        <div id="isbn-group" class="form-group">
          <label for="isbn">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Username"
          />
        </div>

        <div id="superhero-group" class="form-group">
          <label for="superheroAlias">Senha</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            name="senha"
            placeholder="Password"
          />
        </div>


        <button type="submit" class="btn btn-success">
          Enviar
        </button>
      </form>
    </div>

    <div class="col-sm-6 col-sm-offset-3" id="div-respostas">
      <h2>Resposta</h2>
      <ul id="ul-resp"></ul>

    </div>
	
  </body>
</html>
