<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/landing_page.css')}}">  
    <link rel="icon" href="{{url_for('static', filename='imagens/logo_browser.png')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
    <title>UniDev</title>
</head>
<body>

    
    <header>
        <div class="nav-wrapper">
            <div class="logo-container">
                <img class="logo" src="{{url_for('static', filename='imagens/logo_unidev.png')}}" alt="Logo">
            </div>
            <nav>
                <input class="hidden" type="checkbox" id="menuToggle">
                <label class="menu-btn" for="menuToggle">
                    <div class="menu"></div>
                    <div class="menu"></div>
                    <div class="menu"></div>
                </label>
                <div class="nav-container">
                    <ul class="nav-tabs">
                        <li class="nav-tab"> <a href="#top">Home</a></li>
                        <li class="nav-tab"> <a href="#quem_somos">Quem somos</a> </li>
                        <li class="nav-tab"> <a href="#cursos">Cursos</a> </li>
                        <li class="nav-tab" id="login"> <a href="/logar">Login</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="titulo"> 
        <h1> Aprenda a programar de uma maneira interativa e divertida na <strong>UniDev!</strong></h1>
        <img src="{{url_for('static', filename='imagens/imagem_landing_page.png')}}">
    </div> 

    <div id="quem_somos">
        <h2>Quem somos?</h2>

        <p> A UniDev é uma plataforma de ensino de programação criada em 2022 pelos alunos de Ciência da Computação da faculdade Insper.
            Com o objetivo de <strong>levar o mundo da tecnologia para todos aqueles que possuem interesse em tal área</strong>, oferecemos diversos 
            <strong>cursos de programação</strong>, com foco em lógica de programação e linguagens de programação / marcação (<strong>Python, JavaScript, HTML, CSS</strong>).
            Desta forma, nós da UniDev buscamos <strong>democratizar o acesso à tecnologia</strong>, tornando-a acessível a todos, e ainda assim <strong>
            estabelecer uma base sólida </strong> para aqueles que desejam se tornar desenvolvedores de software em um futuro próximo.
            
        </p>
    </div>

    <div id="cursos">
        <h2> Cursos </h2>
        
        <div id="linguagens">
            <div class="python_curso">
                    <img src="{{url_for('static', filename='imagens/logo_python.png')}}"/>
                    <hr color="#F5A623">
                    <span class="caption">Python</span>
            </div>
    
            <div class="js_curso">
                    <img src="{{url_for('static', filename='imagens/logo_js.png')}}"/>
                    <hr color="#F5A623">
                    <span class="caption"> JavaScript </span>
                    <span class="status"> (em breve) </span>
            </div>
    
            <div class="html_curso">
                    <img src="{{url_for('static', filename='imagens/logo_html.png')}}"/>
                    <hr color="#F5A623">
                    <span class="caption"> HTML </span>
                    <span class="status"> (em breve) </span>
            </div>
    
            <div class="css_curso">
                    <img src="{{url_for('static', filename='imagens/logo_css.png')}}"/>
                    <hr color="#F5A623">
                    <span class="caption"> CSS </span>
                    <span class="status"> (em breve) </span>
            </div>

        </div>
    </div>
    </div>



</body>
</html>