html,
body {
    margin: 0;
	height: 100vh;
	width: 100%;
    scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	/* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    position: absolute;
}



.nav-wrapper {
    display: flex;
	position: fixed;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 90%;
	height: 80px;
	border-radius: 0 0 15px 15px;
	padding: 0 25px;
	z-index: 2;
    background-color: #ffffff;
	margin-left: 3%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 65px;
    margin-bottom: 3%;
}

.nav-tabs {
    display: flex;
	font-weight: 600;
	font-size: 18px;
	list-style: none;
}

.nav-tabs .nav-tab a {
    color: #0a052e;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.nav-tabs .nav-tab a:hover {
    color: #F5A623;
}

#login a {
    color: #f52323;
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	transition: text-decoration-color 300ms;
}

#login a:hover {
    text-decoration-color: #f52323;
}

.nav-tab:not(:last-child) {
	padding: 10px 25px;
	margin: 0;
	border-right: 1px solid #eee;
}


.nav-tab:last-child {
    padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
    cursor: pointer;
}

.hidden {
    display: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.5%;
    font-size: 1.3em;
}

.title img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 1%;
}

.container-left-top h2 {
    margin-left: 3.3%;
    font-size: 30px;
    color: #F5A623;
}

.container-left-top ul {
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
}

.container-left-top ul li {
    
    list-style: none;
    font-size: 1.1em;
    font-weight: 600;
    color: #0a052e;
}

.container-left-top ul li a {
    text-decoration: none;
    color: #0a052e;
    border: 1px solid #0a052e;
    padding: 10px 15px;
    border-radius: 10px;
}

.container-left-top ul li a:hover {
    box-shadow: 4px 4px 0px #000000;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {

	.nav-wrapper{
		width: 85%;
	}

    .nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		background: #fff;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width: 100%;
	}

	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;
		border-bottom: 1px solid #f5f5f5;
	}

	.nav-tab:last-child {
		padding: 15px 25px;
	}

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
		border-radius: 10px;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background: #111;
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}
