@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background: #1a245c;
}
.input-field input:focus {
    border-bottom: 1px solid #3f51b5 !important;
    box-shadow: 0 1px 0 0 #3f51b5 !important;
  }

.input-field input:focus + label {
    color: #3f51b5 !important;
  }


.card img {
    width: 100%;
    height: 100%;
}

.card-title {
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10%;
    color: #5f6fca;
}

.card {
    padding: 85px;
    padding-top: 10px;
    padding-bottom: 70px;
    margin-top: 15%;
    border-radius: 20px;
}

.card h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3vw;
}

.register {
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
}

.register a {
    color: #3f51b5;
    text-decoration: underline;
    margin-left: 2%;
}

.btn {
    background-color: #3f51b5;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    margin-top: 10%;
    border-radius: 15px;
    width: 60%;
    height: 40px;
}

.btn:hover {
    background-color: #5f6fca !important;
}



